[submodule "micro_ros_setup"]
	path = micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
[submodule "ros_polympc/submodules/polympc"]
	path = ros_polympc/submodules/polympc
	url = https://gitlab.epfl.ch/listov/polympc.git
[submodule "vrpn_mocap"]
	path = vrpn_mocap
	url = https://github.com/alvinsunyixiao/vrpn_mocap
